* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

input, button {
    font-family: 'Ubuntu', sans-serif;
}

body {
    width: 90%;
    margin-left:auto;
    margin-right:auto;
    font-family: 'Ubuntu', sans-serif;
    padding: 0; 
    border-style: solid;
    border-width: 3px;
}

input, button {
    font-size: 16px;
}

.idcamp_image{
    width: 50%;
    height: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.head_bar__title{
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
}

.head_bar {
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ed1c24;
    color: #ffffff;
    align-items:center;
    border-bottom: 1px solid black;
}

.jumbotron{
    border: 3px solid #ffd400;
}

main {
    margin: 0 auto;
    background-color: #ffd400;
}

.input_section {
    display: flex;
    flex-direction: row;
    padding: 20px;
    border-bottom: 1px solid black;
    border-radius: 0px 0px 30px 30px;
    background-color: #ffffff;
    
}

.input_section > h2 {
    text-align: center;
    border-right: 3px solid #ed1c24;
    padding: 30px;
    margin: 15px 30px 15px 15px;
    font-size: auto;
    color: #ed1c24;
    background-color: #ffffff;
}

.input_section > form > .input {
    margin: 10px 0;
}

.input_section > form > button {
    background-color: #ed1c24;
    color: white;
    border: 0;
    border-radius: 5px;
    display: block;
    width: 100%;
    padding: 8px;
    cursor: pointer;
}

.input_section > form > button > span {
    font-weight: bold;
}

.input_section > form > .input > input {
    display: block;
    width: 100%;
    padding: 8px;
    border-radius: 5px;
}

.input_section > form > .input > label {
    color: black;
    font-weight: bold;
}

.input_section > form > .input_inline {
    margin: 12px 0;
    display: flex;
    align-items: center;
}

.input_section > form > .input_inline > label {
    color: black;
    font-weight: bold;
    margin-left: 10px;
}

input[type=text]:focus {
    background-color: lightblue;
}

.search_section {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-radius: 30px;
    background-color: #ffffff;
}

.search_section > h2 {
    padding: 10px 10px 10px 30px;
    color: #ed1c24;
}

.search_section > form {
    padding: 10px 10px 10px 30px;
    width: 90%;
    display: grid;
    grid-template-columns: auto 1fr 0.5fr;
    grid-gap: 10px;
}

.search_section > form > label {
    display: flex;
    align-items: center;
    font-weight: bold;
}

.search_section > form > input {
    padding: 5px;
    border-radius: 5px;
}

.search_section > form > button {
    background-color: #ed1c24;
    color: white;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
}

.book_shelf {
    border: 1px solid black;
    padding: 16px;
    border-radius: 30px;
    background-color: #ffffff;
}

.finished_book{
    border-radius: 30px 30px 0px 0px;
}

.book_shelf > h2 {
    color: #ed1c24;
    margin: 0px 0px 0px 30px;
}

.book_shelf > .book_list {
    padding: 16px;
}

.book_shelf > .book_list > .book_item {
    padding: 8px 16px 16px 16px;
    border: 1px solid black;
    border-radius: 5px;
    margin: 10px 0;
}

.book_shelf > .book_list > .book_item > h3, p {
    margin: 8px 0;
}

.book_shelf > .book_list > .book_item > .action > button {
    border: 0;
    padding: 5px;
    margin: 0 5px 0 0;
    border-radius: 5px;
    cursor: pointer;
}

.book_shelf > .book_list > .book_item > .action > .green {
    background-color: darkgreen;
    color: white;
}

.book_shelf > .book_list > .book_item > .action > .red {
    background-color: darkred;
    color: white;
}

.select_item:hover{
    background-color: lightblue;
    /* color: aliceblue; */
} 

.pindah {
    border: 1px solid black !important;
    padding: 10px !important;
    background-color: #2ebdaf!important;
}

.hapus {
    border: 1px solid black !important;
    padding: 10px !important;
    background-color: #de0c66 !important;
}

.edit {
    border: 1px solid black !important;
    padding: 10px !important;
    background-color: #ed1c24 !important;
}

.pindah:hover, .hapus:hover, .edit:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.book_item:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.indosat_image {
    width: 100px;
    height: 50px;
    object-fit: contain;
}
  
.dicoding_image {
    width: 100px;
    height: 50px;
    object-fit: contain;
}

footer {
    padding: 20px;
    color: black;
    background-color: white;
    text-align: left;
    border-top: solid;
    border: 1px solid black;
}
